/*
 * Copyright (C) 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6ul.dtsi"

/ {
	model = "PolyVection CoreAMP1";
	compatible = "polyvection,polycore1", "fsl,imx6ul";

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x14000000>;
			linux,cma-default;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_sd1_vmmc: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		wlan_en_reg: fixedregulator@2 {
			compatible = "regulator-fixed";
			regulator-name = "wlan-en-regulator";	
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			/* WLAN_EN GPIO for this board - Bank3, pin7 */
			gpio = <&gpio3 7 0>;
			startup-delay-us = <70000>;
			enable-active-high;
		};

	};


	kim {
	        compatible = "kim";
	        nshutdown_gpio = <73>;  // GPIO3_9 The wl8 driver expects gpio to be an integer,b so gpio5_6 is (5-1)*32+6=134
	        dev_name = "/dev/ttymxc3";
	        flow_cntrl = <1>;
	        baud_rate = <115200>;	
	};

	btwilink {
	        compatible = "btwilink";
	
	};


	sound-spdif {
		compatible = "fsl,imx-audio-spdif";
		model = "imx-spdif";
		spdif-controller = <&spdif>;
		spdif-in;
	};

	/*codec_dac1: dac-codec1 {
		compatible = "ti,pcm5102a";
		status = "okay";
	};*/

	codec_dac2: dac-codec2 {
		compatible = "ti,pcm5102a";
		status = "okay";
	};

	sound1 {
		compatible = "polyvection,imx-audio-pcm512x";
		model = "pcm512x";
		cpu-dai = <&sai1>;
		audio-codec = <&codec1>;
		status = "okay";
	};

	/*sound1 {
		compatible = "polyvection,imx-audio-pcm5102a";
		model = "pcm5102a-audio";
		cpu-dai = <&sai1>;
		audio-codec = <&codec_dac1>;
		status = "okay";
	};*/

	sound2 {
		compatible = "polyvection,imx-audio-pcm5102a";
		model = "pcm5102a-audio";
		cpu-dai = <&sai2>;
		audio-codec = <&codec_dac2>;
		status = "okay";
	};

	/*spi4 {
		compatible = "spi-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi4>;
		pinctrl-assert-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
		status = "okay";
		gpio-sck = <&gpio5 11 0>;
		gpio-mosi = <&gpio5 10 0>;
		cs-gpios = <&gpio5 7 0>;
		num-chipselects = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
	};*/

	leds {
		compatible = "gpio-leds";

		user_led: user {
			label = "Heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_led_blue>;
			gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

};

&cpu0 {
	operating-points = <
		/* kHz    uV */
		528000	1175000
		396000	1025000
		198000	950000
		>;
	fsl,soc-operating-points = <
		/* ARM kHz      SOC uV */
		528000	1175000
		396000	1175000
		198000	1175000
	>;
	arm-supply = <&sw1_reg>;
	soc-supply = <&sw1_reg>;
	fsl,arm-soc-shared = <1>;
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <722534400>;//, <786432000>;
	
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	//interrupt-parent = <&gpio2>;
	//interrupts = <41>;
	phy-reset-gpios = <&gpio1 5 0>;
	fsl,magic-packet;
	phy-handle = <&ethphy0>;
	status = "okay";
	
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@2 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <2>;
		};

	};
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0x1>;
	fsl,cpu_pupscr_sw = <0x0>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <0>; /* DCDC, ldo-enable */
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	codec1: pcm5122@4c {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5122";
		reg = <0x4f>;
		//clocks = <&clks IMX6UL_CLK_SAI1>;
		status = "okay";
	};

	amp_temp: lm75@48 {
		compatible = "national,lm75";
		reg = <0x48>;
	};

	pmic: pfuze3001@08 {
		compatible = "fsl,pfuze3001";
		reg = <0x08>;

		regulators {
			sw1_reg: sw1 { // VCC ARM CORE
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1475000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 { // SYS 3V3
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3_reg: sw3 { // NVCC RAM
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			//vgen1_reg: vldo1 { // NC
			//	regulator-min-microvolt = <0>;
			//	regulator-max-microvolt = <0>;
				//regulator-always-on;
			//};

			//vgen2_reg: vldo2 { // NC
			//	regulator-min-microvolt = <0>;
			//	regulator-max-microvolt = <0>;
			//};

			//vgen3_reg: vccsd { // NC
			//	regulator-min-microvolt = <0>;
			//	regulator-max-microvolt = <0>;
				//regulator-always-on;
			//};

			vgen4_reg: v33 { // ANALOG AUDIO SUPPLY
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			//vgen5_reg: vldo3 { // NC
			//	regulator-min-microvolt = <0>;
			//	regulator-max-microvolt = <0>;
				//regulator-always-on;
			//};

			vgen6_reg: vldo4 { //WIFI 1V8
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};
		};
	};
};

&i2c2 {
	clock_frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&pxp {
	status = "okay";
};

&sai1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;

	assigned-clocks = <&clks IMX6UL_CLK_SAI1_SEL>,
			  <&clks IMX6UL_CLK_SAI1>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <0>, <11289600>;//, <12288000>;
	//fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;

	assigned-clocks = <&clks IMX6UL_CLK_SAI2_SEL>,
			  <&clks IMX6UL_CLK_SAI2>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <0>, <11289600>;//, <12288000>;

	status = "okay";
};

&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spdif_in>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	fsl,uart-has-rtscts;
	/* for DTE mode, add below change */
	/* fsl,dte-mode; */
	/* pinctrl-0 = <&pinctrl_uart2dte>; */
	status = "okay";
};

&uart4 {
	
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
	fsl,uart-has-rtscts;      // enable rts/cts usage on uart4
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	srp-disable;
	hnp-disable;
	adp-disable;
	status = "okay";
};

&usbotg1 {
	dr_mode = "";
	srp-disable;
	hnp-disable;
	adp-disable;
	status = "okay";
};

&usbphy1 {
	tx-d-cal = <0x5>;
};

&usbphy2 {
	tx-d-cal = <0x5>;
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	keep-power-in-suspend;	
 	enable-sdio-wakeup;
	vmmc-supply = <&wlan_en_reg>;
	non-removable;
	cap-power-off-card;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@0 {
		compatible = "ti,wl1835";
		reg = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <10 IRQ_TYPE_EDGE_RISING>;
	};
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	no-1-8-v;
	non-removable;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;
	imx6ul-evk {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX6UL_PAD_UART1_RTS_B__GPIO1_IO19	0x17059 /* SD1 CD */
				/* MX6UL_PAD_GPIO1_IO05__USDHC1_VSELECT	0x17059  SD1 VSELECT */
				/*MX6UL_PAD_GPIO1_IO09__GPIO1_IO09        0x17059 SD1 RESET */
				MX6UL_PAD_SNVS_TAMPER0__GPIO5_IO00	0x80000000
			>;
		};

		pinctrl_dvfs: dvfsgrp {
			fsl,pins = <
				MX6UL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x79
			>;
		};

		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN	0x1b0b0
				MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER	0x1b0b0
				MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
				MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
				MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN	0x1b0b0
				MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0b0
				MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0b0
				MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b031
				MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09	0x000b1
			>;
		};
		
		pinctrl_enet1_irq: enetirqgrp {
			fsl,pins = <
				MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09	0x000b1
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX6UL_PAD_UART4_TX_DATA__I2C1_SCL 0x4001b8b0
				MX6UL_PAD_UART4_RX_DATA__I2C1_SDA 0x4001b8b0
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX6UL_PAD_UART5_TX_DATA__I2C2_SCL 0x4001b8b0
				MX6UL_PAD_UART5_RX_DATA__I2C2_SDA 0x4001b8b0
			>;
		};

		pinctrl_sai1: sai1grp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA05__SAI1_TX_BCLK	0x11088
				MX6UL_PAD_CSI_DATA04__SAI1_TX_SYNC	0x11088
				MX6UL_PAD_CSI_DATA07__SAI1_TX_DATA	0x11088
				MX6UL_PAD_CSI_DATA06__SAI1_RX_DATA	0x11088
				MX6UL_PAD_CSI_DATA01__SAI1_MCLK		0x11088
			>;
		};

		pinctrl_sai2: sai2grp {
			fsl,pins = <
				MX6UL_PAD_JTAG_TDI__SAI2_TX_BCLK	0x17088
				MX6UL_PAD_JTAG_TDO__SAI2_TX_SYNC	0x17088
				MX6UL_PAD_JTAG_TRST_B__SAI2_TX_DATA	0x11088
				MX6UL_PAD_JTAG_TCK__SAI2_RX_DATA	0x11088
				MX6UL_PAD_JTAG_TMS__SAI2_MCLK		0x17088
				MX6UL_PAD_SNVS_TAMPER4__GPIO5_IO04	0x17059
			>;
		};

		pinctrl_spdif_in: spdifgrp-in {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO09__SPDIF_IN      0x1b0b0
				/*MX6UL_PAD_JTAG_MOD__SPDIF_OUT           0x1b0b0*/
			>;
		};

		pinctrl_led_green: ledgreengrp {
			fsl,pins = <
				MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09    0x1b0b0
			>;
		};

		pinctrl_led_red: ledredgrp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA00__GPIO4_IO21        0x1b0b0
			>;
		};

		pinctrl_led_blue: ledbluegrp {
			fsl,pins = <
				MX6UL_PAD_ENET2_RX_EN__GPIO2_IO10       0x1b0b0
			>;
		};

		/*pinctrl_spi4: spi4grp {
			fsl,pins = <
				MX6UL_PAD_BOOT_MODE0__GPIO5_IO10	0x70a1
				MX6UL_PAD_BOOT_MODE1__GPIO5_IO11	0x70a1
				MX6UL_PAD_SNVS_TAMPER7__GPIO5_IO07	0x70a1
				MX6UL_PAD_SNVS_TAMPER8__GPIO5_IO08	0x80000000
			>;
		};*/

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX 0x1b0b1
				MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX 0x1b0b1
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
				MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
				MX6UL_PAD_UART3_RX_DATA__UART2_DCE_RTS	0x1b0b1
				MX6UL_PAD_UART3_TX_DATA__UART2_DCE_CTS	0x1b0b1
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6UL_PAD_LCD_CLK__UART4_DCE_TX		0x1b0b1
				MX6UL_PAD_LCD_ENABLE__UART4_DCE_RX	0x1b0b1
				MX6UL_PAD_LCD_VSYNC__UART4_DCE_RTS	0x1b0b1
				MX6UL_PAD_LCD_HSYNC__UART4_DCE_CTS	0x1b0b1
				/*MX6UL_PAD_LCD_DATA04__GPIO3_IO09	0x13059 BT-EN*/
			>;
		};

		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX6UL_PAD_SD1_CMD__USDHC1_CMD     	0x17069
				MX6UL_PAD_SD1_CLK__USDHC1_CLK     	0x10069
				MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 	0x17069
				MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 	0x17069
				MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 	0x17069
				MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 	0x17069
				MX6UL_PAD_LCD_DATA02__GPIO3_IO07	0x13059	/*WL EN*/
				MX6UL_PAD_LCD_DATA05__GPIO3_IO10	0x13059 /*WL IRQ*/
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
			fsl,pins = <
				MX6UL_PAD_SD1_CMD__USDHC1_CMD     0x170b9
				MX6UL_PAD_SD1_CLK__USDHC1_CLK     0x100b9
				MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 0x170b9
				MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 0x170b9
				MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 0x170b9
				MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 0x170b9
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
			fsl,pins = <
				MX6UL_PAD_SD1_CMD__USDHC1_CMD     0x170f9
				MX6UL_PAD_SD1_CLK__USDHC1_CLK     0x100f9
				MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 0x170f9
				MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 0x170f9
				MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 0x170f9
				MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 0x170f9
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6UL_PAD_NAND_RE_B__USDHC2_CLK     0x10069
				MX6UL_PAD_NAND_WE_B__USDHC2_CMD     0x17059
				MX6UL_PAD_NAND_DATA00__USDHC2_DATA0 0x17059
				MX6UL_PAD_NAND_DATA01__USDHC2_DATA1 0x17059
				MX6UL_PAD_NAND_DATA02__USDHC2_DATA2 0x17059
				MX6UL_PAD_NAND_DATA03__USDHC2_DATA3 0x17059
			>;
		};
	};
};
